.*
*.in
*.la
*.a
*.lo
*.o
*.obj
*.lib
*.dll
*.ilk
*.pdb
*.ex?
*-stamp
libnfs-raw-*.x
Makefile
examples/nfsclient-raw
examples/nfsclient-sync
examples/nfsclient-async
examples/nfsclient-bcast
examples/nfsclient-listservers
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

libnfs.pc
!libnfs.pc.in
build
/win32/libnfs/x64/Debug/libnfs.tlog/CL.command.1.tlog
/win32/libnfs/x64/Debug/libnfs.tlog/libnfs.lastbuildstate
/win32/libnfs/x64/Debug/libnfs.tlog/unsuccessfulbuild
/win32/libnfs/x64/Debug/libnfs.log
/win32/libnfs/x64/Debug/vc143.idb
/win32/nfs-cp/x64/Debug/nfs-cp.tlog/CL.command.1.tlog
*.tlog
/win32/nfs-cp/x64/Debug/nfs-cp.exe.recipe
/win32/nfs-cp/x64/Debug/nfs-cp.log
/win32/nfs-cp/x64/Debug/vc143.idb
/win32/nfs-ls/x64/Debug/nfs-ls.exe.recipe
/win32/nfs-ls/x64/Debug/nfs-ls.log
/win32/nfs-ls/x64/Debug/vc143.idb
/win32/libnfs/x64/Debug/libnfs.vcxproj.FileListAbsolute.txt
/win32/libnfs/x64/Debug/version.res
