.*
*.h
*.c
*.in
*.la
*.a
*.lo
*.o
*.obj
*.lib
*.dll
*.ilk
*.pdb
*.ex?
*-stamp
libnfs-raw-*.x
Makefile
examples/nfsclient-raw
examples/nfsclient-sync
examples/nfsclient-async
examples/nfsclient-bcast
examples/nfsclient-listservers
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

libnfs.pc
!libnfs.pc.in

ar-lib
cscope.*
local/
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
utils/nfs-cat
utils/nfs-cp
utils/nfs-ls
